.FieldSchoolContentWrapper {
    word-wrap: break-word;

    .FieldSchoolContentWrapper__Winter {
        width: 90%;
    }

    .FieldSchoolContentWrapper__Summer {
        width: 90%;
    }

    .FieldSchoolContentWrapper__Spring {
        width: 90%;
    }

    .FieldSchoolContentWrapper__Default {
        width: 90%;
    }
}