.SummerButton {
    background: #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border: 2px solid #5D7DE2;
    font-size: 1em;
    color: #5D7DE2;
    // padding: 0px 0px 0px 0px;
    margin-left: 50px;
    // max-height: 200px;

    .SummerButton__Text {
        display: inline-block;
        vertical-align: text-bottom;
        font-weight: bold;
        margin: 20px 35px 20px 35px;
    }

    &.SummerButton__Active {
        background: #5D7DE2;
        color: white;
    }
}
@media all and (max-width: 1125px) {
    .SummerButton {
        background: #fff;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        border: 2px solid #5D7DE2;
        font-size: 1em;
        color: #5D7DE2;
        // width: 50%;
        margin-bottom: 10px;
        margin-left: 0px;
        min-height: 50px;
    
        .SummerButton__Text {
            display: inline-block;
            vertical-align: text-bottom;
            font-weight: bold;
            margin: 0px 0px 0px 0px;
        }
    
        &.SummerButton__Active {
            background: #5D7DE2;
            color: white;
        }
    }
}